[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
social-auth-app-django = "*"
django = "==2.2.13"
tweepy = "*"

[dev-packages]

[requires]
python_version = "3.6"
